* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: monospace;
}
#wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.overlay_style {
    background-color: rgba(137, 43, 226, 0.414);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.header_style{
    width: 80%;
    height: 200px;
    background-color: rgb(216, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.btn_content_global{
    width: 100%;
    max-width: 80%;
    height: 20vh;
    background-color: rgba(0, 0, 255, 0.394);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 5px solid darkgoldenrod;
    border-radius: 20px;
} 

.btn_style{
    padding: 10px;
    font-size: 24px;
    font-weight: 900;
    border:5px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 255, 0, 0.51);
    transition: all 400ms ease-in;
}
.btn_style:hover{
    color: white;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border:5px solid rgb(207, 198, 31);
    background-color: rgba(12, 12, 11, 0.51);
}

.text_content_box{
    background-color: rgba(0, 0, 255, 0.61);
    width: 100%;
    height: auto;
    max-width: 40%;
    padding:20px;
}


.d_none {
    display: none;
}